.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 70%;
}

.auth-form input {
  padding: 1.2rem 0.5rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 4px rgba(95, 114, 189, 0.5);
}

.checkbox-container input[type="checkbox"] {
  border: none;
  box-shadow: none;
}

.input-with-icon {
  position: relative;
  align-items: center;
  display: inline-flex;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #719cff;
}

.input-with-icon input::placeholder {
  color: #719cff;
}

input[type='email'][name='email'] {
  padding-left: 40px;
  width: 100%;
  color: #719cff;
}

input[type='password'] {
  padding-left: 40px;
  width: 100%;
}

input[type='text'][name='name'] {
  padding-left: 40px;
  width: 100%;
  color: #719cff;
}

input[type='email']::placeholder,
input[type='password']::placeholder input[type='text']::placeholder {
  color: #719cff;
}

input[type='submit'] {
  color: #fff;
  margin-bottom: 3.5rem;
  padding: 1rem;
  background: linear-gradient(to right, #ff4d4d, #f99);
  width: 80%;
  font-size: 1.4rem;
}
