* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  html {
    font-size: 58%;
  }

  .auth-container .auth-form {
    width: 92%;
    max-width: 270px;
  }

  .auth-page .welcomeback-section {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56%;
  }

  .main .auth-page {
    font-size: 1.5rem;
  }

  .auth-container .auth-form {
    width: 92%;
    max-width: 270px;
  }

  .auth-page .welcomeback-section {
    padding: 2rem;
  }

  .checkbox-container .term {
    margin-left: 4px;
  }
}

@media(max-width: 425px) {
  .auth-page .welcomeback-section {
    display: none;
  }

  .main .auth-page {
    grid-template-columns: 1fr;
  }
}